* {
    box-sizing: border-box;
}

@font-face {
    font-family: Megrath;
    src: url(data-files/megrath/MEGRATH.otf);
}

body {
    overflow-x: clip;
    background: gray;
}

.container-fluid {
    padding: none !important;
    margin: none !important;
    --border-gray: rgb(187, 187, 187);
}

header {
    height: 80px;
    width: 100%;
    cursor: pointer;
    background: linear-gradient(to top, gray, rgb(65, 65, 65));
    filter: brightness(100%);
    margin: none;
    position: relative;
    border-bottom: 2px solid var(--border-gray);
    box-shadow: 0px 0px 5px black;
    z-index: 5;
    transition: 0.2s;
    .text-center {
        line-height: 80px;
        font-size: 16px;
        color: white;
        font-family: Megrath, serif;
    }
}

header:hover {
    background: linear-gradient(to top, rgb(98, 98, 98), rgb(50, 50, 50));
    transition: 0.2s;
    .jumbo-image {
        box-shadow: 0px 0px 15px black;
        transform: translateX(-50%) scale(110%);
        transition: 0.2s;
    }
}

.jumbo-image {
    width: 30%;
    position: absolute;
    border-radius: 100%;
    left: 50%;
    top: 30px;
    transform: scale(100%) translateX(-50%);
    border: 2px solid var(--border-gray);
    box-shadow: 0px 0px 5px black;
    z-index: 2;
    transition: 0.2s;
}

.jumbo-image:hover {
    box-shadow: 0px 0px 15px black;
    transform: translateX(-50%) scale(110%);
    transition: 0.2s;
}

.main-image {
    width: 100%;
    position: relative;
    background-size: cover;
    z-index: 0;
}

.one {
    background: url(imgs/zeppelin-before-airship.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.two {
    background: url(imgs/zeppelin-airship.png);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.three {
    background: url(imgs/zeppelin-before-desk.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

@media screen and (max-width: 1000px) {
    .jumbo-image {
        width: 50%;
    }
}

.title {
    min-height: 60px;
    width: 100%;
    font-family: Megrath, serif;
    text-align: center;
    background: linear-gradient(to bottom, gray, rgb(100, 100, 100));
    border-top: 2px solid var(--border-gray);
    border-bottom: 2px solid var(--border-gray);
    box-shadow: 0px 0px 5px black;
    z-index: 0;
    font-size: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-shadow: 0px 0px 3px black;
}

.mega-menu {
    cursor: pointer;
    width: 100%;
    position: absolute;
    top: -200px;
    z-index: 3;
    box-shadow: 0px 0px 5px black;
    font-family: "Raleway", sans-serif;
    div {
        background-color: rgb(194, 194, 194);
        transition: 0.2s;
        padding-left: 30px;
        padding-right: 30px;
        height: 60px;
        line-height: 60px;
    }
    div:hover {
        background-color: gray;
        transition: 0.2s;
    }
}
/* down up*/
.down {
animation-name: down;
animation-duration: 0.6s;
animation-timing-function: ease-out;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}

.up {
animation-name: up;
animation-duration: 0.6s;
animation-timing-function: ease-out;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}

@keyframes down {
    from {
        top: -200px;
    }
    to {
        top: 80px;
    }
}

@keyframes up {
    from {
        top: 80px;
    }
    to {
        top: -200px;
    }
}

/*downpic uppic */   
.uppic {
    animation-name: uppic;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.downpic {
    animation-name: downpic;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} 

@keyframes uppic {
    from {
        top: 30px;
    }
    to {
        top: -120px;
    }
}
    
@keyframes downpic {
    from {
        top: -120px;
    }
    to {
        top: 30px;
    }
}
   
.floatpic {
    width: 400px;
    aspect-ratio: 1/1.02;
    background-position: center top;
    transition: 0.2s;
    border-radius: 5px;
    border: 4px solid var(--border-gray);
    box-shadow: 0px 0px 0px black inset, 0px 0px 5px black;
}

.floatpic:hover {
    box-shadow: 0px 0px 100px black inset, 0px 0px 15px black;
    transition: 0.2s;
}

.justify {
    text-align: justify;
}

.body-main {
    font-family: "Merriweather", serif;
    h1 {
        font-family: "Bebas Neue", sans-serif;
        color: black;
        text-shadow: 0px 2px 3px black;
    }
}

.picOne {
    background-image: url(imgs/zeppelin.png);
    background-size: 100% 140%;
}

.picOne:hover {
    background-position: center top;
    background-size: 112% 160%;
}

.picTwo {
    background-size: 130% 100%;
    background-position: right center;
    background-image: url(imgs/zeppelin-airship.png);
}

.picTwo:hover {
    background-position: right center;
    background-size: 150% 120%;
}

.picThree {
    background: url(imgs/Ferdinand-Graf-von-Zeppelin.webp);
    background-size: 100% 130%;
    background-position: top center;
}

.picThree:hover {
    background-size: 120% 150%;
    background-position: top center;
}

.parallax {
    height: 300px;
    z-index: 0;
    /* filter: blur(5px); */
}

.col-12.row {
    background: linear-gradient(to bottom, #c9c9c9, #555555);
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    box-shadow: 0px 0px 5px black;
    z-index: 1;
}

.p1 {
    background: url(imgs/zeppelin-emerging.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.p2 {
    background: url(imgs/zeppelin_over_city.webp);
    background-attachment: fixed;
    background-size: cover;
}

.p3 {
    background: url(imgs/zeppelin_flying.webp);
    background-attachment: fixed;
    background-size: cover;
}

footer {
    width: 100%;
    height: 200px;
    background-color: red;
    .col-12.row {
        background: none;
        box-shadow: none;
        .col-3 {
                background-color: rgb(194, 194, 194);
                transition: 0.2s;
                padding-left: 30px;
                padding-right: 30px;
                height: 60px;
                line-height: 60px;
        }
        .col-3:hover {
                background-color: gray;
                transition: 0.2s;
        }
    }
}